<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles/homestyles.css">
    
          
    <a href="home.html"><title>Page Not Found</title></a>

</head>
<!-- EJS PARTIAL HEADER -->
    <header>
               
        <%- include('./partials/header.ejs') %>
           
    </header>

    <img src="images/404.png" alt="404 Error">

    <footer>
        <!-- EJS PARTIAL FOOTER -->
    
        <%- include('./partials/footer.ejs') -%>
    
    </footer>