<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles/homestyles.css">
           
    <title>About Page</title>

</head>

<!-- EJS PARTIAL HEADER -->
<header>
               
    <%- include('./partials/header.ejs') %>
       
</header>

<body>
    
    <h1>About Us</h1>

    <p>We are a group of university students looking to expand our skillsets (and Rapten who isn't) and this website is our first project. In this project Our goal was to learn the basics of both front end and back end coding. We look to work toward future projects </p>
    <p>Ngl ion rlly know what else to put here.</p>

</body>

<footer>
    <!-- EJS PARTIAL FOOTER -->

    <%- include('./partials/footer.ejs') -%>

</footer>

</html>